[submodule "oh-my-zsh"]
	url = https://github.com/ohmyzsh/ohmyzsh.git
	path = .config/ohmyzsh
[submodule "zsh-autosuggestions"]
	path = .config/ohmyzsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-completions"]
	path = .config/ohmyzsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh-syntax-highlighting"]
	path = .config/ohmyzsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "spacemacs"]
	path = .config/emacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "conda-zsh-completion"]
	path = .config/ohmyzsh-custom/plugins/conda-zsh-completion
	url = git@github.com:esc/conda-zsh-completion.git
[submodule "wallpapers"]
	path = Pictures/wallpapers
	url = git@github.com:hXtreme/wallpapers
